<footer class="footer">
    <div class="footer__top">
        <img src="./img/footer-logo.png" alt="footer-logo">
        <ul class="footer__links">
            <li class="footer__link"><a href="#"><i class="fab fa-youtube"></i></a></li>
            <li class="footer__link"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li class="footer__link"><a href="#"><i class="fab fa-twitter"></i></a></li>
        </ul>
    </div>
    <div class="footer__copyright">© 2017 «Frontend» |  сайт разработан в <a href="https://rubarbs.com/">Rubarb digital</a></div>
</footer>
