<header>
    <div class="header">
        <a href="#" class="header__logo">
            <img src="./img/logo.png" alt="logo">
        </a>
        <button class="header__btn">
            <span class="top"></span>
            <span class="middle"></span>
            <span class="bottom"></span>
        </button>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link" href="#">Первый экран</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#intro">Вступление</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#infographics">Инфографика</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#performance">Производительность</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#contacts">Контакты</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__phone">+38 (096) 622 86 13</a>
                    <a href="#" class="nav__phone">+38 (096) 622 86 13</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__lang">en</a>
                    <a href="#" class="nav__lang">ru</a>
                    <a href="#" class="nav__lang">ua</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="slider">
        <div data-pos="1" class="slider__item active">
            <div class="slider__logo">
                <img src="./img/slider-logo.png" alt="slider-logo">
            </div>
            <div class="slider__info">
                <span>Frontend-разработчики</span> должны быть в теме всего
            </div>
            <div class="slider__buttons">
                <a href="#" class="slider__btn">да, должны </a>
                <a href="#" class="slider__btn">конечно, должны </a>
            </div>
        </div>
        <div data-pos="2" class="slider__item">
            <div class="slider__logo">
                <img src="./img/slider-logo.png" alt="slider-logo">
            </div>
            <div class="slider__info">
                <span>Frontend-разработчики2</span> должны быть в теме всего
            </div>
            <div class="slider__buttons">
                <a href="#" class="slider__btn">да, должны </a>
                <a href="#" class="slider__btn">конечно, должны </a>
            </div>
        </div>
        <div data-pos="3" class="slider__item">
            <div class="slider__logo">
                <img src="./img/slider-logo.png" alt="slider-logo">
            </div>
            <div class="slider__info">
                <span>Frontend-разработчики3</span> должны быть в теме всего
            </div>
            <div class="slider__buttons">
                <a href="#" class="slider__btn">да, должны </a>
                <a href="#" class="slider__btn">конечно, должны </a>
            </div>
        </div>
        <div class="slider__nav">
            <span class="active" data-slide="1"></span>
            <span data-slide="2"></span>
            <span data-slide="3"></span>
        </div>
        <a href="#" class="slider__arrow slider__arrow_left" id="prev"></a>
        <a href="#" class="slider__arrow slider__arrow_right" id="next"></a>
    </div>

    <ul class="share">
        <li class="share__item">share</li>
        <li class="share__item"><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li class="share__item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
    </ul>
</header>
